@use "../../styles/variables" as vars;

.form-card {
  background-color: #fff;
  border-radius: vars.$border-radius;

  .card-header {
    color: vars.$primary-color;
    padding: vars.$spacing-small;
    border-top-left-radius: vars.$border-radius;
    border-top-right-radius: vars.$border-radius;
  }

  .card-body {
    padding: vars.$spacing-medium;
    display: flex;
    flex-direction: column;
  }
}
