@use "../../styles/variables" as vars;

button {
  min-width: 15%;
  font-weight: 500;
  background-color: vars.$primary-color;
  color: #fff;
  padding: vars.$spacing-small vars.$spacing-medium;
  font-size: vars.$font-size-input;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  display: block;
  &:hover {
    box-shadow: vars.$box-shadow;
  }
  &:disabled {
    background-color: vars.$disabled-bg-color;
    color: vars.$disabled-color;
    cursor: not-allowed;
  }
}

.button-cancel{
  background-color: vars.$border-color;
  color: vars.$tertiary-color;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1rem; 
  margin-bottom: 1rem; 
  margin-top: 1rem; 
}
