@use "./variables" as vars;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: vars.$font-size-input;
  min-height: 100vh;
  margin: 0;
  background-color: vars.$placeholder-secondary-color;
}

main {
  display: flex;
  justify-content: center;
  max-width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  padding: vars.$spacing-medium vars.$spacing-medium;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-large;
  width: 100%;
  margin-bottom: vars.$spacing-medium;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  flex-wrap: wrap;
}

hr {
  width: 100%;
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ced0dd;
}

h1 {
  color: vars.$primary-color;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: vars.$spacing-small;
}

h5 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}
