@use '../../styles/variables' as vars;

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: vars.$primary-color; 
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  a {
    color: vars.$secondary-color;  
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
