@use "../../styles/variables" as vars;

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: vars.$spacing-large;
  position: relative;

  .input-field-label {
    font-size: vars.$font-size-label;
    font-weight: 600;
    color: vars.$placeholder-color;
    margin-bottom: vars.$spacing-small;
    transition: color 0.2s ease;
  }

  .input-icon {
    position: absolute;
    left: auto;
    margin-top: 0.7em;
    margin-left: vars.$spacing-medium;
    color: vars.$placeholder-color;
    pointer-events: none;
  }

  input,
  textArea {
    padding: vars.$spacing-small;
    font-size: vars.$font-size-input;
    background-color: vars.$placeholder-secondary-color;
    border-radius: vars.$border-radius;
    border: none;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &::placeholder {
      color: vars.$placeholder-color;
      padding-left: vars.$spacing-large;
    }

    &:focus {
      border-color: vars.$placeholder-color;
      box-shadow: vars.$box-shadow;
    }

    &:disabled {
      background-color: vars.$disabled-bg-color;
      cursor: not-allowed;
      border-color: #ccc;
    }
  }
  &.input-field--white {
    cursor: default;
    margin: 0;
    input {
      background-color: #fff;
      padding-left: vars.$spacing-xlarge;
      &::placeholder {
        padding-left: 0;
      }
      &:not(:placeholder-shown) {
        padding-left: vars.$spacing-xlarge;
      }
    }
  }
  &.pl-0 {
    input {
      padding-left: vars.$spacing-small !important;
      &:not(:placeholder-shown) {
        padding-left: vars.$spacing-small !important;
      }
    }
  }
  .error-message {
    position: absolute;
    top: 100%;
    text-align: left;
    font-size: vars.$font-size-error;
    color: vars.$error-color;
    margin-top: vars.$spacing-small;
    visibility: hidden;
  }
  .error-message[role="alert"] {
    visibility: visible; 
  }
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 16px;
  color: vars.$placeholder-color;
  cursor: pointer;
  pointer-events: auto;
}

.loading-input,
.loading-select {
  background-color: #f7f7f7;
  pointer-events: none;
  animation: fadeBackground 1.5s ease-in-out infinite;
  &::placeholder {
    display: none;
  }
}

@keyframes fadeBackground {
  0% {
    background-color: #f7f7f7;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f7f7f7;
  }
}
