@use "../../styles/variables" as vars;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: vars.$spacing-medium;
  background-color: #fff;

  &__logo-breadcrumbs {
    display: flex;
    align-items: center;
    gap: vars.$spacing-medium;
  }

  &__title {
    text-decoration: none;
    color: vars.$primary-color;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    font-size: vars.$font-size-input;
    margin-top: vars.$spacing-small;
  }

  &__breadcrumb-item {
    display: inline-flex;
    align-items: center;
  }

  &__link {
    color: vars.$tertiary-color;
    text-decoration: none;
    cursor: pointer;
    font-size: vars.$font-size-label;
    font-weight: 600;
    transition: color 0.2s ease;
    &:hover {
      color: vars.$primary-color;
    }
    &--last{
      cursor: default;
      &:hover {
        color: vars.$tertiary-color;
      }
    }
  }
}
.header__separator {
  margin: 0 5px;
  color: vars.$placeholder-color;
  font-weight: 600;
}
