@use "../../styles/variables" as vars;

.select-component {
  position: relative;
  margin-top: -0.2em;

  .select-input {
    width: 100%;
    padding: vars.$spacing-small;
    background-color: vars.$placeholder-secondary-color;
    border: none;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:not(:placeholder-shown) {
      color: vars.$tertiary-color;
    }

    &::placeholder {
      color: vars.$tertiary-color;
      padding-right: vars.$spacing-large;
    }

    &:focus,
    &:hover {
      border-color: vars.$placeholder-color;
      box-shadow: 0 2px 4px vars.$placeholder-secondary-color;
    }
    
  }

  .select-input--white {
    width: 100%;
    padding: vars.$spacing-small;
    background-color: #fff;
    border-radius: vars.$border-radius;
    border: none;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:not(:placeholder-shown) {
      color: vars.$tertiary-color;
    }


    &::placeholder {
      color: vars.$tertiary-color;
      padding-right: vars.$spacing-large;
    }

    &:focus,
    &:hover {
      border-color: vars.$placeholder-color;
      box-shadow: 0 2px 4px vars.$placeholder-secondary-color;
    }
  }

  .select-field-label {
    font-size: vars.$font-size-label;
    font-weight: 600;
    color: vars.$placeholder-color;
    margin-bottom: vars.$spacing-small;
    transition: color 0.2s ease;
  }

  .select-menu {
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding: vars.$spacing-medium;
    background-color: #fff;
    color: vars.$tertiary-color;
    margin-top: vars.$spacing-small;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .select-option {
      font-size: vars.$font-size-label;
      font-weight: 450;
      line-height: 1em;
      padding: 12px 16px;
      cursor: pointer;
      &:hover {
        background-color: vars.$border-color;
      }
    }
  }
}
.select-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select-arrow {
  color: vars.$placeholder-color;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: transform 0.3s ease;
}

.select-arrow.open {
  transform: translateY(-50%) rotate(180deg);
}
